---
import Layout from "../../layouts/Layout.astro";
// import DashboardView from "./dashboardView";
---

<Layout title="Dashobard de eventos - Eventos">
  <!-- <DashboardView client:only="react" /> -->
  <p>PlaceHolder</p>
</Layout>
