---
import { Calendar, FilterX, Layers, MapPin } from "lucide-react";
---

<section class="bg-white mb-10">
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-col gap-2">
      <label
        for="filtro-campus"
        class="text-xs font-bold uppercase tracking-wider text-gray-500 pl-1"
      >
        Campus
      </label>

      <div class="relative">
        <MapPin
          className="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 w-4 h-4"
          aria-hidden="true"
        />

        <select
          id="filtro-campus"
          class="w-full pl-9 pr-3 py-3 bg-gray-50 border border-gray-200 rounded-lg text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary cursor-pointer"
        >
          <option>Todos los Campuses</option>
          <option>Hermosillo</option>
          <option>Navojoa</option>
          <option>Magdalena</option>
          <option>San Luis Río Colorado</option>
          <option>Benito Juárez</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label
        for="filtro-categoria"
        class="text-xs font-bold uppercase tracking-wider text-gray-500 pl-1"
      >
        Categoría
      </label>

      <div class="relative">
        <Layers
          className="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 w-4 h-4"
          aria-hidden="true"
        />

        <select
          id="filtro-categoria"
          class="w-full pl-9 pr-3 py-3 bg-gray-50 border border-gray-200 rounded-lg text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary cursor-pointer"
        >
          <option>Todas las Categorías</option>
          <option>Taller</option>
          <option>Seminario</option>
          <option>Social</option>
          <option>Deportes</option>
          <option>Feria de Empleo</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label
        for="filtro-fecha"
        class="text-xs font-bold uppercase tracking-wider text-gray-500 pl-1"
      >
        Fecha
      </label>

      <div class="relative">
        <Calendar
          className="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 w-4 h-4"
          aria-hidden="true"
        />

        <input
          type="date"
          id="filtro-fecha"
          class="w-full pl-9 pr-3 py-3 bg-gray-50 border border-gray-200 rounded-lg text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary"
        />
      </div>
    </div>

    <div class="flex items-end">
      <button
        class="w-full h-11.5 flex items-center justify-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-700 text-sm font-semibold rounded-lg transition hover:cursor-pointer"
      >
        <FilterX className="w-4 h-4" aria-hidden="true" />
        Reiniciar
      </button>
    </div>
  </div>
</section>
