---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="rounded-xl h-1 bg-linear-to-r from-primary to-primary-hover w-full">
</div>
<header
  class="sticky top-0 z-50 bg-white/80 backdrop-blur-xl border-b border-border-custom h-20 flex items-center"
>
  <div class="max-w-7xl w-full mx-auto px-6 flex justify-between items-center">
    <div class="flex items-center gap-4">
      <a href="/" class="flex items-center gap-3 no-underline">
        <div
          class="bg-primary p-2 rounded flex items-center justify-center text-white"
        >
          <span class="material-icons">school</span>
        </div>
        <div class="flex flex-col">
          <span
            class="text-2xl font-black -tracking-wider text-primary leading-none"
            >UES</span
          >
          <span
            class="text-[10px] font-medium text-text-muted uppercase tracking-widest leading-none mt-1"
          >
            Universidad Estatal <br /> de Sonora
          </span>
        </div>
      </a>
      <div
        class="hidden md:flex items-center border-l border-border-custom ml-2 pl-4"
      >
        <h1 class="text-lg font-semibold text-text-main">{title}</h1>
      </div>
    </div>
    
    <div class="flex items-center gap-6">
            <a
        href="/soporte"
        class=" py-2.5 rounded text-gray-700/80 text-sm font-semibold flex items-center justify-center gap-2 transition-all duration-300"
      >
        <i class="fa-regular fa-circle-question text-base"></i> 
        Soporte
      </a>
      <a
        href="/iniciar-sesion"
        class="bg-primary px-4 py-2.5 rounded text-white text-sm font-bold flex items-center justify-center gap-2 transition-all duration-300 hover:bg-primary-hover hover:shadow-md"
      >
        <i class="fa-solid fa-arrow-right-to-bracket text-base"></i> Iniciar Sesión
      </a>
    </div>
  </div>
</header>
